fastapi
uvicorn[standard]
pydantic
pydantic[email]
pdfplumber
requests
python-dotenv
sqlalchemy
python-multipart
sentence-transformers
faiss-cpu
torch
transformers
PyJWT
passlib[bcrypt]
asyncpg
greenlet
psycopg2-binary
